<h1> <%=@user.username %> </h1>

<dl>
  <dt>ID</dt>
  <dd><%=@user.id%><dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/users">
      <label for="username">Username</label>
      <input type="text" id="username" name="username_change" value=<%=@user.username %>>
      <button type="submit">Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (1)</h2>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th></th>
  </tr>
  <% @user_photos.each do | photo |%>
    <tr>
      <td>
        <img src="<%= photo.image %>">
      </td>
      <td><%= photo.poster.username %></td>
      <td><%= photo.caption %></td>
      <td><%= photo.created_at %></td>
      <td>
        <a href="/photos/<%= photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>