<h1> List of photos </h1>

<form>
  <label for="url">Image</label>
  <input type="text" id="url" name="photo_url" placeholder="Enter a URL for the image...">
  <label for="caption">Caption</label>
  <textarea id="caption" name="photo_caption" placeholder="Enter a caption for the photo..."></textarea>
  <label for="owner_id">Owner ID</label>
  <input type=" id="owner_id" name="owner_id" placeholder="Enter an ID of a User...">
  <button type="submit">Add photo</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>
  <tr>
    <% @photos.each do |photo| %>
      <td>
        <img src="<%= photo.image %>">
      </td>
      <td><%= photo.caption %></td>
      <td><%= photo.poster.username %></td>
      <td><%= photo.created_at %></td>
      <td>
        <a href="/photos/<%= photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>

